x64/
.vs/

# CMake
build*/
cmake*/
.idea/
.vscode/

# Auto installed libraries
vendors/**
**/vendors/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Shaders
*.spv
rendering/shaders/compile_shaders.bat